@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
html header {
  background-color: #F2CB05;
}
html header .navbar {
  padding: 1%;
}
html header .navbar img {
  border-style: double;
  border-color: #0F0140;
  width: 7.5rem;
  height: 7.5rem;
}
html header .navbar ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
html header .navbar ul li {
  width: 10%;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  text-align: center;
  color: #0D0159;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
html header .navbar ul li:hover {
  background-color: aliceblue;
}
html h1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.5rem;
  text-align: center;
  color: #0F0140;
}
html .descripcion-pagina {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  text-align: justify;
  color: #0F0140;
}
html img {
  width: 100%;
}
html #menu-index-principal {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 5%;
}
html #menu-index-principal .menu-index {
  width: 23%;
  height: auto;
  background-color: #F2E30F;
  border-style: double;
  border-color: #0F0140;
  padding: 3% 0 3% 0;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
html #menu-index-principal .menu-index svg {
  width: 40%;
  height: 40%;
  color: #0D0159;
}
html #menu-index-principal .menu-index p {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  text-align: center;
  color: #0D0159;
  margin: 0 3% 0 3%;
}
html #menu-index-principal .menu-index a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  text-align: center;
}
html #menu-index-principal .menu-index button {
  width: 300%;
  padding: 1rem;
  border-color: #0D0159;
  background-color: #0D0159;
  color: #F2E30F;
}
html #menu-index-principal .menu-index button:hover {
  color: #0D0159;
  background-color: #F2E30F;
}
html #seccion-servicios {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 5%;
}
html #seccion-servicios .servicios {
  width: 25%;
  height: auto;
  background-color: #F2E30F;
  border-style: double;
  border-color: #0F0140;
  padding: 0.5%;
  margin: 0.5%;
}
html #seccion-servicios .servicios p {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  text-align: center;
  color: #0D0159;
  margin-top: 10%;
}
html #seccion-servicios .servicios p a {
  text-decoration: none;
  color: #0D0159;
  font-weight: 1000;
  display: block;
}
html #seccion-servicios .servicios p a:hover {
  background-color: aliceblue;
}
html #datos-clientes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 5%;
}
html #datos-clientes .datos-clientes {
  width: 25%;
  height: auto;
  background-color: #F2E30F;
  border-style: double;
  border-color: #0F0140;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
html #datos-clientes .datos-clientes a {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
html #datos-clientes .datos-clientes img {
  width: 50%;
  height: auto;
}
html #datos-clientes .datos-clientes img:hover {
  border-style: double;
  border-radius: 10%;
  border-color: #0D0159;
}
html #datos-clientes .datos-clientes ul {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html #datos-clientes .datos-clientes ul li {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  text-align: center;
  list-style-type: none;
  color: #0D0159;
}
html .menu-contacto {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
html .menu-contacto div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2% 0 2% 0;
  width: 45%;
  background-color: #F2E30F;
  border-style: double;
  border-color: #0F0140;
}
html .menu-contacto div svg {
  width: 30%;
  height: 30%;
  color: #0D0159;
}
html .menu-contacto div p {
  width: auto;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  text-align: center;
  color: #0D0159;
  padding: 0 3% 0 3%;
}
html .menu-contacto div button {
  width: 100%;
  padding: 1rem;
  background-color: #0D0159;
  color: #F2E30F;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
}
html .menu-contacto div button:hover {
  background-color: #F2E30F;
  color: #0D0159;
}
html fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  list-style-type: none;
  color: #0D0159;
  margin-bottom: 5%;
}
html legend {
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  color: #0D0159;
}
html input, html select {
  width: 50%;
  margin: 0.5rem;
  font-size: 2rem;
  text-align: center;
  border-color: #0F0140;
  background-color: #F2E30F;
}
html .boton-formulario {
  width: auto;
  padding: 0.5%;
  background-color: #0D0159;
  color: #F2E30F;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
}
html .grid-container {
  display: grid;
  grid-template-columns: 20% 56% 20%;
  grid-template-rows: repeat 5, 1fr;
  grid-template-areas: "entradas articulo tematica" ". publicidad publicidad " ". entrada2103 calendario" ". publicidad1 publicidad1" ". entrada1403 links";
}
html .grid-navbar, html .grid-links, html .grid-calendario, html .grid-entradas-tematica {
  grid-area: entradas;
  position: sticky;
  top: 15%;
}
html .grid-article {
  grid-area: articulo;
}
html .grid-entradas-tematica {
  grid-area: tematica;
  position: static;
}
html .grid-publicidad {
  grid-area: publicidad;
}
html #entrada-21-de-marzo {
  grid-area: entrada2103;
}
html .grid-calendario {
  grid-area: calendario;
  position: static;
}
html .grid-publicidad1 {
  grid-area: publicidad1;
}
html #entrada-14-de-marzo {
  grid-area: entrada1403;
}
html .grid-links {
  grid-area: links;
  position: static;
}
html .grid-navbar, html .grid-links, html .grid-calendario, html .grid-entradas-tematica {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  border-style: double;
  border-color: #0F0140;
  padding: 1%;
}
html .grid-navbar h2, html .grid-links h2, html .grid-calendario h2, html .grid-entradas-tematica h2 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  list-style-type: none;
  color: #0F0140;
  margin: 5% 0 5% 0;
  text-align: center;
}
html .grid-navbar ul, html .grid-links ul, html .grid-calendario ul, html .grid-entradas-tematica ul {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  list-style-type: none;
  color: #0D0159;
  padding: 1%;
}
html .grid-navbar ul li, html .grid-links ul li, html .grid-calendario ul li, html .grid-entradas-tematica ul li {
  list-style-type: none;
  padding-bottom: 1rem;
  text-align: center;
}
html .grid-navbar ul a, html .grid-links ul a, html .grid-calendario ul a, html .grid-entradas-tematica ul a {
  text-decoration: none;
  color: #0D0159;
}
html .grid-navbar ul a:hover, html .grid-links ul a:hover, html .grid-calendario ul a:hover, html .grid-entradas-tematica ul a:hover {
  background-color: #F2E30F;
}
html .grid-article {
  background-color: #F2E30F;
  border-style: double;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
html .grid-article section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1% 0 1%;
}
html .grid-article span {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2.5rem;
  color: #0F0140;
}
html .grid-article div {
  width: 90%;
}
html .grid-article p {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2rem;
  color: #0D0159;
  text-decoration: none;
  text-align: center;
}
html .grid-calendario ul {
  font-size: 1.75rem;
}
html aside {
  grid-area: publicidad;
  display: grid;
  justify-content: center;
  align-items: center;
  border-style: double;
  padding: 1%;
  margin-left: 1%;
}
html footer {
  height: 200px;
  background-color: #403001;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
html footer .derechos-propiedad {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  list-style-type: none;
  color: aliceblue;
}
html footer .iconos-rrss {
  width: 30rem;
  background-color: #F2CB05;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
}
html footer .iconos-rrss div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
}
html footer .iconos-rrss div:hover {
  border-style: double;
  border-color: #0F0140;
}
html footer .iconos-rrss div span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  color: #0D0159;
}
html footer .iconos-rrss div svg {
  color: #0D0159;
}
@media (min-width: 320px) and (max-width: 767px) {
  html .navbar-toggler {
    background-color: #0D0159;
    width: 7rem;
    height: 7rem;
  }
  html .navbar-collapse {
    background-color: #F2E30F;
  }
  html .navbar-collapse li {
    width: 100% !important;
  }
  html .navbar-toggler-icon {
    width: 100%;
    height: 90%;
    background-color: #F2E30F;
  }
  html h1 {
    font-size: 3.5rem;
    margin: 7.5%;
  }
  html img {
    width: 100%;
  }
  html .descripcion-pagina {
    font-size: 1.75rem;
    text-align: center;
    margin: 7.5% 2% 7.5% 2%;
  }
  html #menu-index-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  html #menu-index-principal .menu-index {
    width: 90%;
    height: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5% 2% 5% 2%;
    margin-bottom: 5%;
  }
  html #menu-index-principal .menu-index svg {
    width: 30%;
    margin: 5% 0 5% 0;
  }
  html #menu-index-principal .menu-index p {
    font-size: 2rem;
  }
  html #seccion-servicios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  html #seccion-servicios .servicios {
    width: 90%;
    height: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5% 2% 5% 2%;
    margin-bottom: 5%;
  }
  html #seccion-servicios .servicios p {
    font-size: 2rem;
  }
  html #seccion-servicios .servicios p a {
    text-decoration: none;
  }
  html #datos.clientes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  html .datos-clientes {
    width: 90% !important;
    height: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5% 2% 5% 2%;
    margin-bottom: 5%;
  }
  html .datos-clientes li {
    font-size: 2rem;
  }
  html .menu-contacto {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  html .menu-contacto div {
    width: 90%;
    height: auto;
    padding: 10% 0 10% 0;
    margin-bottom: 5%;
  }
  html .menu-contacto div svg {
    margin-bottom: 10%;
  }
  html .menu-contacto div p {
    display: none;
  }
  html fieldset {
    font-size: 1.75rem;
  }
  html input, html select {
    width: 80%;
  }
  html .grid-navbar, html .grid-entradas-tematica, html .grid-calendario, html .grid-links {
    display: none;
  }
  html .grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat 9, 1fr;
    grid-template-areas: "entradas" "tematica " "calendario" "links" "articulo" "publicidad" "entrada2103" "publicidad1" "entrada1403";
    row-gap: 1%;
    margin-bottom: 50%;
  }
  html .grid-dropdown-entradas-antiguas, html .grid-dropdown-links, html .grid-dropdown-calendario, html .grid-dropdown-entradas-tematicas {
    grid-area: entradas;
  }
  html .grid-dropdown-entradas-antiguas button, html .grid-dropdown-links button, html .grid-dropdown-calendario button, html .grid-dropdown-entradas-tematicas button {
    width: 100%;
    padding: 1rem;
    font-family: "Bebas Neue", sans-serif;
    font-size: 2.5rem;
    background-color: #F2CB05;
    color: #0D0159;
  }
  html .grid-dropdown-entradas-antiguas button:hover, html .grid-dropdown-links button:hover, html .grid-dropdown-calendario button:hover, html .grid-dropdown-entradas-tematicas button:hover {
    background-color: #0D0159;
    color: #F2CB05;
  }
  html .grid-dropdown-entradas-antiguas ul, html .grid-dropdown-links ul, html .grid-dropdown-calendario ul, html .grid-dropdown-entradas-tematicas ul {
    width: 100%;
    background-color: #F2E30F;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    list-style-type: none;
    color: #0D0159;
    padding: 1%;
  }
  html .grid-dropdown-entradas-antiguas ul li, html .grid-dropdown-links ul li, html .grid-dropdown-calendario ul li, html .grid-dropdown-entradas-tematicas ul li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    padding-bottom: 1rem;
  }
  html .grid-dropdown-entradas-antiguas ul a, html .grid-dropdown-links ul a, html .grid-dropdown-calendario ul a, html .grid-dropdown-entradas-tematicas ul a {
    text-decoration: none;
    color: #0D0159;
  }
  html .grid-article {
    grid-area: articulo;
  }
  html .grid-article section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  html .grid-article section span {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 5%;
  }
  html .grid-article p {
    font-size: 2rem;
    margin: 5% 2% 5% 2%;
  }
  html .grid-dropdown-entradas-tematicas {
    grid-area: tematica;
  }
  html .grid-publicidad {
    grid-area: publicidad;
  }
  html #entrada-21-de-marzo {
    grid-area: entrada2103;
  }
  html .grid-dropdown-calendario {
    grid-area: calendario;
  }
  html .grid-dropdown-calendario ul li {
    text-align: center;
  }
  html .grid-publicidad1 {
    grid-area: publicidad1;
  }
  html #entrada-14-de-marzo {
    grid-area: entrada1403;
  }
  html .grid-dropdown-links {
    grid-area: links;
  }
  html footer {
    margin-top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  html footer .ubicacion iframe {
    width: 100%;
  }
  html footer .derechos-propiedad {
    background-color: #403001;
  }
  html footer .derechos-propiedad p {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  html footer .iconos-rrss {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  html footer .iconos-rrss div span {
    display: none;
  }
}
@media (min-width: 1024px) {
  html h1 {
    margin: 3%;
  }
  html #portada {
    margin-bottom: 3%;
  }
  html .descripcion-pagina {
    text-align: justify;
    margin: 0% 1% 3% 1%;
  }
  html .menu-contacto div {
    width: 45%;
    height: 47rem;
    margin-bottom: 3%;
  }
  html .grid-container {
    row-gap: 2%;
    -moz-column-gap: 2%;
         column-gap: 2%;
    margin-bottom: 20%;
  }
  html .grid-container button {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */