@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
html header {
  width: 100%;
  height: 10rem;
  background-color: #F2E30F;
  padding-right: 2%;
  padding-left: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
html header #logo {
  height: 6rem;
  width: 6rem;
  margin-top: 30%;
  border-style: double;
  border-color: #0F0140;
}
html header nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
html header nav .navbar {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
}
html header nav .navbar ul li {
  padding-left: 2rem;
  text-align: center;
}
html h1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.5rem;
  text-align: center;
  color: #0F0140;
}
html .descripcion-pagina {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  text-align: justify;
  color: #0D0159;
}
html img {
  width: 100%;
}
html #menu-index-principal {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 3%;
}
html #menu-index-principal .menu-index {
  width: 23%;
  height: auto;
  background-color: #F2E30F;
  border-style: double;
  padding: 1%, 0, 1%, 0;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
html #menu-index-principal .menu-index svg {
  width: 60%;
  height: 60%;
}
html #menu-index-principal .menu-index p {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem;
  text-align: center;
  color: #0D0159;
}
html #menu-index-principal .menu-index a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem;
  text-align: center;
}
html #menu-index-principal .menu-index button {
  width: 300%;
  padding: 1rem;
  background-color: #0D0159;
  color: #F2E30F;
}
html #seccion-servicios {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
html #seccion-servicios div {
  width: 40rem;
  height: 45rem;
  background-color: #F2E30F;
  border-style: double;
  padding: 10px;
  margin: 10px;
}
html #seccion-servicios div p {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  text-align: center;
  color: #0D0159;
}
html #seccion-servicios div a {
  text-decoration: none;
  color: #0D0159;
  font-weight: 800;
  display: block;
}
html #datos-clientes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
html #datos-clientes .datos-clientes {
  width: 40rem;
  height: 45rem;
  background-color: #F2E30F;
  border-style: double;
  border-color: #0F0140;
  padding: 10px;
  margin: 10px;
  display: inline-block;
}
html #datos-clientes .datos-clientes ul {
  margin-top: 10%;
}
html #datos-clientes .datos-clientes ul li {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  text-align: start;
  list-style-type: none;
  color: #0D0159;
}
html .menu-contacto {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
html .menu-contacto div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 45%;
  background-color: #F2E30F;
  border-style: double;
  border-style: dotted;
  padding: 3%;
}
html .menu-contacto div svg {
  width: 30%;
  height: 30%;
  color: #0D0159;
}
html .menu-contacto div p {
  width: auto;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  text-align: start;
  list-style-type: none;
  color: #0D0159;
}
html .menu-contacto div button {
  width: 100%;
  padding: 1rem;
  background-color: #0D0159;
  color: #F2E30F;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
}
html fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  list-style-type: none;
  color: #0D0159;
}
html legend {
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  color: #0D0159;
}
html input {
  width: 50%;
  margin: 0.5rem;
  font-size: 2rem;
  text-align: center;
}
html select {
  width: 30%;
  margin: 1rem;
  font-size: 2rem;
  text-align: center;
}
html .boton-formulario {
  width: auto;
  padding: 0.5%;
  background-color: #0D0159;
  color: #F2E30F;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
}
html .grid-container {
  display: grid;
  grid-template-columns: 20% 55% 20%;
  grid-template-rows: repeat 5, 30rem;
  grid-template-areas: "entradas articulo tematica" "entradas publicidad publicidad " "entradas entrada2103 calendario" "entradas publicidad1 publicidad1" "entradas entrada1403 links";
  -moz-column-gap: 2%;
       column-gap: 2%;
  row-gap: 2%;
}
html .grid-navbar, html .grid-links, html .grid-calendario, html .grid-entradas-tematica {
  grid-area: entradas;
}
html .grid-article {
  grid-area: articulo;
}
html .grid-entradas-tematica {
  grid-area: tematica;
}
html .grid-publicidad {
  grid-area: publicidad;
}
html #entrada-21-de-marzo {
  grid-area: entrada2103;
}
html .grid-calendario {
  grid-area: calendario;
}
html .grid-publicidad1 {
  grid-area: publicidad1;
}
html #entrada-14-de-marzo {
  grid-area: entrada1403;
}
html .grid-links {
  grid-area: links;
}
html .grid-navbar, html .grid-links, html .grid-calendario, html .grid-entradas-tematica {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-style: double;
  padding: 1%;
  margin-left: 1%;
}
html .grid-navbar h2, html .grid-links h2, html .grid-calendario h2, html .grid-entradas-tematica h2 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  list-style-type: none;
  color: #0D0159;
  margin: 5% 0 5% 0;
}
html .grid-navbar ul, html .grid-links ul, html .grid-calendario ul, html .grid-entradas-tematica ul {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  list-style-type: none;
  color: #0D0159;
  padding: 1%;
}
html .grid-navbar ul li, html .grid-links ul li, html .grid-calendario ul li, html .grid-entradas-tematica ul li {
  list-style-type: none;
  padding-bottom: 1rem;
}
html .grid-navbar ul a, html .grid-links ul a, html .grid-calendario ul a, html .grid-entradas-tematica ul a {
  text-decoration: none;
  color: #0D0159;
}
html .grid-article {
  background-color: yellow;
  border-style: double;
  font-size: 1.5rem;
  padding-bottom: 1rem;
  color: #0D0159;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html .grid-article span {
  display: inline;
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.5rem;
  padding-bottom: 1rem;
  color: #0D0159;
}
html .grid-article div {
  width: 90%;
}
html .grid-article p {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.5rem;
  padding-bottom: 1rem;
  color: #0D0159;
  text-decoration: none;
  text-align: center;
}
html aside {
  grid-area: publicidad;
  display: grid;
  justify-content: center;
  align-items: center;
  border-style: double;
  padding: 1%;
  margin-left: 1%;
}
html footer {
  height: 200px;
  background-color: #403001;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
html footer .derechos-propiedad {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  list-style-type: none;
  color: #0D0159;
}
html footer .iconos-rrss {
  width: 30rem;
  background-color: #F2CB05;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
html footer .iconos-rrss div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html footer .iconos-rrss div span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 1rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  color: #0D0159;
}
html footer .iconos-rrss div svg {
  color: #0F0140;
}
@media (min-width: 320px) and (max-width: 767px) {
  html .navbar-toggler {
    background-color: #0D0159;
    width: 5.5rem;
    height: 5.5rem;
    margin-bottom: 20%;
  }
  html .navbar-collapse {
    background-color: #F2E30F;
  }
  html .navbar-toggler-icon {
    width: 95%;
    height: 90%;
    background-color: #F2E30F;
  }
  html h1 {
    font-size: 2rem;
    margin: 7.5%;
  }
  html img {
    width: 100%;
  }
  html .descripcion-pagina {
    font-size: 1.75rem;
    text-align: center;
    margin: 7.5% 2% 7.5% 2%;
  }
  html #menu-index-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  html #menu-index-principal .menu-index {
    width: 90%;
    height: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  html .servicios {
    width: 90%;
    height: auto;
  }
  html .servicios p {
    padding-top: 10%;
    font-size: 1.5rem;
  }
  html #datos.clientes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  html .datos-clientes {
    width: 30rem;
    height: 35rem;
    margin-bottom: 10%;
  }
  html .datos-clientes ul {
    margin-top: 10%;
    font-size: 1.5rem;
  }
  html .menu-contacto {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  html .menu-contacto div {
    width: 90% !important;
    height: 20rem !important;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 5%;
  }
  html .menu-contacto div p {
    display: none;
  }
  html fieldset {
    font-size: 1rem;
  }
  html input {
    width: 90%;
  }
  html .grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat 5, 1fr;
    grid-template-areas: "articulo" "publicidad" "entrada2103" "publicidad1" "entrada1403";
    grid-template-rows: 0%;
  }
  html .grid-article {
    grid-area: articulo;
  }
  html .grid-publicidad {
    grid-area: publicidad;
  }
  html #entrada-21-de-marzo {
    grid-area: entrada2103;
  }
  html .grid-publicidad1 {
    grid-area: publicidad1;
  }
  html #entrada-14-de-marzo {
    grid-area: entrada1403;
  }
  html .grid-navbar .grid-entradas-tematica .grid-links, html .grid-entradas-tematica .grid-entradas-tematica .grid-links, html .grid-calendario .grid-entradas-tematica .grid-links, html .grid-links .grid-entradas-tematica .grid-links {
    display: none;
  }
  html footer {
    margin-top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  html footer .ubicacion iframe {
    width: 100%;
  }
  html footer .derechos-propiedad {
    background-color: #403001;
  }
  html footer .derechos-propiedad p {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  html footer .iconos-rrss {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  html footer .iconos-rrss div span {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  html h1 {
    font-size: 2rem;
    margin: 5%;
  }
  html .descripcion-pagina {
    font-size: 1.75rem;
    text-align: center;
    margin: 3% 1% 3% 1%;
  }
  html button {
    width: 70%;
  }
  html .servicios p {
    padding-top: 10%;
    font-size: 1.5rem;
  }
  html #datos.clientes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  html .datos-clientes {
    width: 30rem;
    height: 35rem;
    margin-bottom: 10%;
  }
  html ul {
    margin-top: 10%;
  }
  html ul li {
    font-size: 1.5rem;
  }
  html .menu-contacto {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  html div {
    width: 90%;
    height: 25rem;
    margin: 0 2.5% 2.5% 2.5%;
  }
  html div p {
    display: none;
  }
  html div p a {
    width: 100%;
    text-align: center;
  }
  html .derechos-propiedad p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
@media (min-width: 1024px) {
  html h1 {
    margin: 3%;
  }
  html #portada {
    margin-bottom: 3%;
  }
  html .descripcion-pagina {
    text-align: justify;
    margin: 0% 1% 3% 1%;
  }
  html .menu-contacto div {
    width: 45%;
    height: 47rem;
    margin-bottom: 3%;
  }
  html .grid-container {
    margin-bottom: 10%;
    row-gap: 2%;
  }
}/*# sourceMappingURL=style.css.map */