* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue');
$amarilloClaro: #F2E30F;
$amarilloOscuro: #F2CB05;
$azulClaro: #0D0159;
$azulOscuro: #0F0140;
$ocre:  #403001;
html   {
    font-size: 62.5%;
    header {
        width: 100%;
        height: 10rem;
        background-color:$amarilloOscuro;
        padding-right: 2%;
        padding-left: 2%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        #logo {
            height: 6rem;
            width: 6rem;
            margin-top: 30%;
            border-style: double;
            border-color: $azulOscuro;
        }
        nav {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            .navbar {
                font-family: "Bebas Neue", sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size: 2rem;
                ul li {
                    padding-left: 2rem;
                    text-align: center;
                    }
                }
            }
        }
    h1 {
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 3.5rem;
        text-align: center;
        color: #0F0140
    }
    .descripcion-pagina {
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 2.5rem;
        text-align: justify;
        color: $azulOscuro;
    }
    img {
        width: 100%
    }
    #menu-index-principal {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 5%;
        .menu-index {
            width: 23%;
            height: auto;
            background-color:$amarilloClaro;
            border-style: double;
            border-color: $azulOscuro;
            padding: 1%, 0, 1%,0;
            margin: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            svg {
                width: 60%;
                height: 60%;
                color: $azulClaro;
            }
            p {
                font-family: "Bebas Neue", sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size: 1.6rem;
                text-align: center;
                color: $azulClaro;
                }   
            a {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                font-family: "Bebas Neue", sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size: 1.6rem;
                text-align: center;
                }
            button {
                width: 300%;
                padding: 1rem;
                background-color: $azulClaro;
                color: $amarilloClaro;
                }
            }
        }
    #seccion-servicios {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-bottom: 5%;
        div {
            width: 25%;
            height: auto;
            background-color: $amarilloClaro;
            border-style: double;
            border-color: $azulOscuro;
            padding: 0.5%;
            margin: 0.5%;
            p {
                font-family: "Bebas Neue", sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size: 2rem;
                text-align: center;
                color: $azulClaro;
                margin-top: 10%;
                }
            a {
                text-decoration: none;
                color: $azulClaro;
                font-weight: 800;
                display: block;
                }
                }
            }
    #datos-clientes {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-bottom: 5%;   
        .datos-clientes {
            width: 25%;
            height: auto;
            background-color: $amarilloClaro;
            border-style: double;
            border-color: $azulOscuro;
            padding: 10px;
            margin: 10px;
            display: inline-block;
            ul {
                margin-top: 10%;
                li {
                    font-family: "Bebas Neue", sans-serif;
                    font-weight: 400;
                    font-style: normal;
                    font-size: 2rem;
                    text-align: start;
                    list-style-type: none;
                    color: $azulClaro;
                    text-align: center;
                    }
                }
            }
        }
    .menu-contacto {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        div {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 45%;
            background-color:$amarilloClaro;
            border-style: double;
            border-color: $azulOscuro;
            svg {
            width: 30%;
            height: 30%;
            color: $azulClaro
            }
        p {
            width: auto;
            font-family: "Bebas Neue", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 2rem;
            text-align: center;
            color: $azulClaro
            }
        button {
            width: 100%;
            padding: 1rem;
            background-color:$azulClaro;
            color: $amarilloClaro;
            font-family: "Bebas Neue", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 2rem;
            }
            }
        }
    fieldset {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;    
            font-family: "Bebas Neue", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 2rem;
            list-style-type: none;
            color: $azulClaro;
            margin-bottom: 5%; 
        }
        legend {
                text-align: center;
                font-family: "Bebas Neue", sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size: 3rem;
                color: $azulClaro
            }
            input {
                width:50%;
                margin: 0.5rem;
                font-size: 2rem;
                text-align: center;
            }
            select {
                width: 30%;
                margin: 1rem;
                font-size: 2rem;
                text-align: center;
                color: $azulClaro;
                }
            .boton-formulario {
                width: auto;
                padding: 0.5%;
                background-color: $azulClaro;
                color: $amarilloClaro;
                font-family: "Bebas Neue", sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size: 1.5rem;
                }
.grid-container {
display: grid;
grid-template-columns: 20% 60% 20%;
grid-template-rows: repeat (5, 30rem);
grid-template-areas:
"entradas articulo tematica"
"entradas publicidad publicidad "
"entradas entrada2103 calendario"
"entradas publicidad1 publicidad1"
"entradas entrada1403 links"
;}
.grid-navbar {
    grid-area: entradas;
}
.grid-article {
    grid-area: articulo;
}
.grid-entradas-tematica {
    grid-area: tematica;
}
.grid-publicidad {
    grid-area: publicidad;
}
#entrada-21-de-marzo {
    grid-area:entrada2103
}
.grid-calendario {
    grid-area: calendario;
}
.grid-publicidad1 {
    grid-area:publicidad1
}
#entrada-14-de-marzo {
    grid-area: entrada1403
}
.grid-links {
    grid-area: links;
}
.grid-navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-style: double;
    border-color: $azulOscuro;
    padding: 1%;
    h2 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
    list-style-type: none;
    color: $azulOscuro;
    margin: 5% 0 5% 0;
    }
    ul {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    list-style-type: none;
    color: $azulClaro;
    padding: 1%;
        li {
            list-style-type: none;
            padding-bottom: 1rem;
        }
            a {
                text-decoration: none;
                color: $azulClaro;
                }
            }
        }
.grid-article {
    background-color: $amarilloClaro;
    border-style: double;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
            section {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 0 1% 0 1%;
            }
            span {
                font-family: "Bebas Neue", sans-serif;
                font-size: 2.5rem;
                color: $azulOscuro;
                }
            div {
                width: 90%;
            }
            p {
                font-family: "Bebas Neue", sans-serif;
                font-size: 2rem;
                color: $azulClaro;
                text-decoration: none;
                text-align: center
            }
        }
.grid-entradas-tematica {
    @extend .grid-navbar
}
.grid-calendario {
    @extend .grid-navbar;
    }
.grid-links {
    @extend .grid-navbar;
    }
aside {
    grid-area: publicidad;
    display: grid;
    justify-content: center;
    align-items: center;
    border-style: double;
    padding: 1%;
    margin-left:1%
        }
footer {
    height: 200px;
    background-color: $ocre;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
        .derechos-propiedad {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 2rem;
        list-style-type: none;
        color: white;
        }
        .iconos-rrss {
            width: 30rem;
            background-color:$amarilloOscuro;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            div {
                display:flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                span {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-right: 1rem;
                font-family: "Bebas Neue", sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size: 1.5rem;
                color: $azulClaro
                }
            svg {
            color: $azulClaro;
                }
                }
            }
        }
    @media (min-width: 320px) and (max-width:767px) {
        .navbar-toggler {
            background-color:$azulClaro;
            width: 5.5rem;
            height: 5.5rem;
            margin-bottom: 20%;
            }
        .navbar-collapse {
            background-color: $amarilloOscuro
            }
        .navbar-toggler-icon {
            width: 95%;
            height: 90%;
            background-color: $amarilloClaro;
            }
        h1 {
            font-size: 3.5rem;
            margin: 7.5%;
            }
        img {
            width: 100%;
            }
        .descripcion-pagina {
            font-size: 1.75rem;
            text-align: center;
            margin: 7.5% 2% 7.5% 2%;
            }
        #menu-index-principal {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .menu-index {
                width: 90% ; 
                height: auto;
                padding: 0;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                padding: 5% 2% 5% 2%;
                margin-bottom: 5%;
                    p {
                        font-size: 2rem;
                    }
                }
            }
        #seccion-servicios {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .servicios {
                width: 90% ; 
                height: auto;
                padding: 0;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                padding: 5% 2% 5% 2%;
                margin-bottom: 5%;
                    svg {
                        width: 30%;
                        padding-bottom: 10%;
                    }
                    p {
                        font-size: 2rem;
                    }
                }
            }
        #datos.clientes {
            display: flex; 
            flex-direction: column;
            justify-content:center;
            align-content: center;
                }
                .datos-clientes {
                    width: 90% !important; 
                    height: auto;
                    padding: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    padding: 5% 2% 5% 2%;
                    margin-bottom: 5%;
                        li {
                        font-size: 2rem;
                        }
            }
        .menu-contacto {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
                div {
                width: 90%;
                height: auto;
                padding: 10% 0 10% 0;
                margin-bottom: 5%;
                    svg {
                        margin-bottom: 10%;
                    }
                    p {
                    display: none;
                    }
                }
            }
        fieldset {
                font-size: 1.75rem;}
            input, select {
                width: 80%;
            }
        .grid-navbar {
            display: none
        }
        .grid-container {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: repeat (9, 1fr);
            grid-template-areas:
            "entradas"
            "tematica "
            "calendario"
            "links"
            "articulo"
            "publicidad"
            "entrada2103"
            "publicidad1"
            "entrada1403"
            ;
            row-gap: 1%;
            margin-bottom: 5%;
            }
            .grid-dropdown-entradas-antiguas {
                grid-area: entradas;
                button {
                    width: 100%;
                    padding: 1rem;
                    font-family: "Bebas Neue", sans-serif;
                    font-size: 2.5rem;
                    background-color:$amarilloOscuro;
                    color:$azulClaro;
                        }
                    ul {
                        width: 100%;
                        background-color:$amarilloClaro;
                        font-family: "Bebas Neue", sans-serif;
                        font-weight: 400;
                        font-style: normal;
                        font-size: 2rem;
                        list-style-type: none;
                        color: $azulClaro;
                        padding: 1%;
                            li {
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                list-style-type: none;
                                padding-bottom: 1rem;
                            }
                                a {
                                    text-decoration: none;
                                    color: $azulClaro;
                                    }
                                }
                            }    
            .grid-article {
                grid-area: articulo;
                    section {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        span {
                            text-align: center;
                        }
                    }
            }
            .grid-dropdown-entradas-tematicas {
                grid-area: tematica;
                @extend .grid-dropdown-entradas-antiguas
            }
            .grid-publicidad {
                grid-area: publicidad;
            }
            #entrada-21-de-marzo {
                grid-area:entrada2103
            }
            .grid-dropdown-calendario {
                grid-area: calendario;
                @extend .grid-dropdown-entradas-antiguas;
                ul li {
                        text-align: center;
                    }
                }
            .grid-publicidad1 {
                grid-area:publicidad1
            }
            #entrada-14-de-marzo {
                grid-area: entrada1403
            }
            .grid-dropdown-links {
                grid-area: links;
                @extend .grid-dropdown-entradas-antiguas;
            }
        footer {
            margin-top: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .ubicacion iframe {
            width: 100%;
            }
            .derechos-propiedad {
            background-color: #403001;
                p {
                text-align: center;
                margin-top: 2rem;
                margin-bottom: 2rem;
            }
            }
            .iconos-rrss {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                padding-top: 2rem;
                padding-bottom: 2rem;
                div span {
                    display: none;
                    }
                }
            }
        }
    @media (min-width: 768px) and (max-width: 1023px) {
        h1 {
                font-size: 2rem;
                margin: 5%;
            }
        .descripcion-pagina {
                font-size: 1.75rem;
                text-align: center;
                margin: 3% 1% 3% 1%;
            }
        button {
                width: 70%;
            }
        .servicios p {
                padding-top: 10%;
                font-size: 1.5rem;
            }
        #datos.clientes {
                display: flex;
                flex-direction: column;
                justify-content:center;
                align-content: center;
            }
        .datos-clientes {
                width: 30rem;
                height: 35rem;
                margin-bottom: 10%;
            }
            ul {
                margin-top: 10%;
                li {
                font-size: 1.5rem;
                }
            }
        .menu-contacto {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
            }
            div {
                width: 90%;
                height: 25rem;
                margin:0 2.5% 2.5% 2.5%;
            p {
                display: none;
                a {
                    width: 100%;
                    text-align: center;
                    }
                }
            }
        .derechos-propiedad p{
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
            }
        }
    @media (min-width: 1024px) {
        h1 {
            margin: 3%;
        }
        #portada {
            margin-bottom: 3%;
        }
        .descripcion-pagina {
            text-align: justify;
            margin: 0% 1% 3% 1%;
        }
        .menu-contacto div {
            width: 45%;
            height: 47rem;
            margin-bottom: 3%;
        }
        .grid-container {
            margin-bottom: 10%;
            row-gap: 2%;
            button {
                display: none;
            }
        }
    }
}
